In [1]:
%load_ext lab_black
%load_ext autoreload

In [16]:
%autoreload 2
# Dataset
from sklearn.datasets import load_diabetes

# Basics
import pandas as pd
import numpy as np

# Plotting
import matplotlib.pyplot as plt

# Model
from sklearn.ensemble import RandomForestRegressor

# Helpful:
from sklearn.model_selection import train_test_split

# Path setup
import sys
import os

sys.path.append(r"C:\Users\delon\OneDrive\Python3_new\HIWI\RandomForest_Implementation")
# my functions:
from src.methods.calc_mean import *
from src.methods.calc_weights import *
from src.methods.calc_dist import *

In [19]:
df_energy = pd.read_csv(r"datasets\energy_data.csv")

In [22]:
df_energy

,Datum,Uhrzeit,Gesamt (Netzlast)[MWh],Residuallast[MWh],Pumpspeicher[MWh]
0,2015-01-01,00:00,11.210,9.052,123.0
1,2015-01-01,00:15,11.119,8.967,154.0
2,2015-01-01,00:30,11.145,8.976,161.0
3,2015-01-01,00:45,11.127,8.962,164.0
4,2015-01-01,01:00,11.010,8.835,88.0
...,...,...,...,...,...
272727,2022-10-11,22:45,12.631,12.031,53.0
272728,2022-10-11,23:00,12.483,11.891,47.0
272729,2022-10-11,23:15,12.267,11.655,13.0
272730,2022-10-11,23:30,12.128,11.512,14.0
272731,2022-10-11,23:45,12.024,11.438,89.0